.cart-container {
    display: flex;
    gap: 30px;
    padding: 40px;
    background: #f5f5f5;
  }
  .cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }
  
  .cart-item img {
    width: 250px;
    height: 250px;
    object-fit: contain;
  }
  
  .cart-details {
    flex: 1;
    padding-left: 30px;
    font-size: large;
  }
  
  .cart-details h4 {
    margin: 0 0 5px;
    }
  
  .cart-qty {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
  }
  
  .cart-qty button {
    width: 30px;
    height: 30px;
    border: none;
    background: #f9cf12;
    cursor: pointer;
    color: #666161;
    font-size: large;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 10px;
  }
  
  .remove-btn {
    background: #ffecec;
    border: 1px solid red;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .cart-price {
    font-weight: bold;
    min-width: 130px;
  text-align: right;
  font-size: large;
  }
  
  .cart-summary {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
    width: 40%;
    margin-left: 30%;
  }
  
  .summary-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 10px;
    column-gap: 20px;
    margin: 15px 0;
  }
  
  .total-label,
  .total-amount {
    font-weight: bold;
    font-size: 17px;
  }
  
  .checkout-btn {
    margin-top: 15px;
    width: 100%;
    height: 55px;
    padding: 12px;
    background: #1c7b09;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
    
  }
  
  
  .empty-cart {
    text-align: center;
    padding: 80px;
  }
  
  @media (max-width: 900px) {
    .cart-container {
      flex-direction: column;
    }
  }
  