.footer {
  background-color: #111;
  color: #ddd;
  margin-top: 80px;
  font-family: Arial, sans-serif;
  width: 100%;
}

    .footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    padding: 60px 80px;
  }
  
  .footer-top {
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-col h3 {
    margin-bottom: 16px;
    color: #fff;
  }
  
  .footer-logo {
    font-size: 26px;
    color: #f9e805;
  }
  
  .footer-logo span {
    color: #fff;
  }
  
  .footer-col p {
    font-size: 14px;
    line-height: 1.6;
    color: #bbb;
  }
  
  .footer-col ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-col ul li {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #bbb;
  }
  
  .footer-col ul li:hover {
    color: #f9e805;
  }
  
  .social-icons {
    margin-top: 14px;
    display: flex;
    gap: 14px;
  }
  
  .social-icons span {
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .social-icons span:hover {
    transform: scale(1.2);
    color: #f9e805;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 15px;
    background-color: #000;
    font-size: 14px;
    color: #aaa;
  }
  
  @media (max-width: 768px) {
    .footer-top {
      padding: 40px 20px;
    }
  }
  
  .footer a {
    color: #bbb;         
    text-decoration: none; 
  }
  
  .footer a:hover {
    color: #f9e805;      
  }
  